<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enihira Court Taxonomy ML Update</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="card">
        <div class="header">
            <img src="static/icon.ico" alt="Custom Icon" class="header-icon">
            <h1>Enhira Court Taxonomy ML Update</h1>
        </div>
        <div class="hr-divider"></div>
        <div id="synonyms-list">
        </div>
        <div class="hr-divider"></div>
        <div class="buttons">
            <button id="add-synonym">+ Synonym</button>
            <button id="clear">Clear</button>
            <button id="save-add">Save and Add</button>
            <button id="reinitialize">Reinitialize</button>
        </div>
    <br><br>
    <div id="confirmation"></div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>
