<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enihira Court Taxonomy ML Update</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="card">
        <div class="header">
            <img src="static/icon.ico" alt="Custom Icon" class="header-icon">
            <h1>Enhira Court Taxonomy ML Update</h1>
        </div>

        <div class="hr-divider"></div>
        <div class="input-group">
            <label for="user">User:</label>
            <input type="text" id="user" placeholder="Enter username">
        </div>
        <div class="input-group">
            <label for="main-folder">Main Folder:</label>
            <input type="text" id="main-folder" placeholder="Path to main folder">
        </div>
        <div class="input-group">
            <label for="synonyms-path">Synonyms Path:</label>
            <input type="text" id="synonyms-path" placeholder="Path to synonyms">
        </div>
        <div class="input-group">
            <label for="copy-from-path">Copy From:</label>
            <input type="text" id="copy-from-path" placeholder="Path to copy from">
        </div>
        <div class="input-group">
            <label for="copy-to-path">Copy To:</label>
            <input type="text" id="copy-to-path" placeholder="Path to copy to">
        </div>
        <div class="input-group">
            <label for="solr-bin-path">Solr Bin Path:</label>
            <input type="text" id="solr-bin-path" placeholder="Path to Solr bin">
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="text" id="password" placeholder="Enter password">
        </div>
        <div class="hr-divider"></div>
        <div class="buttons">
            <button id="overwrite">Overwrite</button>

        </div>
    </div>
    <script src="static/settings.js"></script>
</body>
</html>
